@import 'vars';

.OrderItem {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	gap: 16px;
	margin-bottom: 24px;
	align-items: center;
}

.OrderItem figure {
	margin: 0;
	position: relative;
	div {
		position: absolute;
		right: 0;
		top: -15px;
		background: #36CFBB;
		border-radius: 50px;
		height: 20px;
		width: 20px;
		/* text-align: center; */
		display: flex;
		align-items: center;
		justify-content: center;
		/* color: white; */
		font-size: 12px;
		font-weight: bold;
	}
}

.OrderItem figure img {
	width: 70px;
	height: 70px;
	border-radius: 20px;
	object-fit: cover;
}

.OrderItem img {
	cursor: pointer;
}

.OrderItem p:nth-child(2) {
	color: var(--very-light-pink);
}

.OrderItem p:nth-child(3) {
	font-size: var(--md);
	font-weight: bold;
}