	@import 'vars';

	.ProductDetail {
		width: 360px;
		padding-bottom: 24px;
		position: absolute;
		right: 0;
		top: 61px;
		background: #FFFFFF;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.119789);
		border-radius: 5px;
		min-height: 80%;
	}

	.ProductDetail-close {
		background: var(--white);
		width: 14px;
		height: 14px;
		position: absolute;
		top: 24px;
		left: 24px;
		z-index: 2;
		padding: 12px;
		border-radius: 50%;
	}

	.ProductDetail-close:hover {
		cursor: pointer;
	}

	.ProductDetail>img:nth-child(2) {
		width: 100%;
		height: 360px;
		object-fit: cover;
		border-radius: 0 0 20px 20px;
	}

	@media (max-width: 640px) {
		.ProductDetail {
			width: 100%;
		}
	}