@import 'vars';

.Productlist {

    width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
    
   
    
}

.Productlist thead tr {

    background-color: var(--hospital-green);
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 100%;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
    
     
}

.Productlist thead tr th{
    width: 60px;
    padding-left: 50px;
    padding-right: 50px;
    
    
}
.Productlist tbody {

    background-color: var(--text-input-field);
	border: none;
	
	height: 30px;
	font-size: var(--md);
	padding: 6px;
	margin-bottom: 12px;
    cursor: pointer;
}
.Productlist tbody tr td{

    border:none;
    padding-left: 10px;
    padding-right: 10px;
}

.prueba{ color: aqua;}


.primary-button { width: 200px;}


